:root {
    --background-color: rgb(20, 20, 20);
    --foreground-color: rgb(240, 240, 240);
    --background-solid: black;
    --foreground-solid: white;
    --detail-color: rgb(82, 82, 82);
    --link: rgb(50, 50, 200);
    --quote-color: rgb(100, 250, 100);
    --quotelink-color: rgb(129, 169, 255);
    --detail-negative: rgb(141, 0, 0);
    --detail-positive: rgb(0, 141, 0);
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

.PageHeaderContainer {
    background: linear-gradient(var(--detail-color), var(--background-color))
}

.Container {
    background: linear-gradient(var(--background-color), var(--detail-color))
}