body {
    overflow-x: hidden;
}
.PageHeaderContainer {
    padding: 30px;
    margin: -10px;
    margin-bottom: 0px;
}
.Container {
    padding: 50px;
    margin: -10px;
    margin-top: 0px;
    height: 1080px;
}